<form class="{{cssClass}} {{actor.type}} newera-darkenergysheet-body" autocomplete="off">
    <h2>{{name}}</h2>
    <h3>Dark Energy</h3>

    <div class="resource newera-actorsheet-resource">
        <img class="resource-icon" src="systems/newera-sol366/resources/darkenergy.png" title="Dark Energy" id="de-icon" />
        <div class="resource-content">
          
          <span> / </span>
          
        </div>
    </div>

    <div id="dark-energy-wrapper" class="progress-wrapper">
        <progress id="dark-energy-bar" value="{{darkEnergy.percentage}}" max="1">DARK ENERGY</progress>
    </div>
</form>