<form class="{{cssClass}} {{actor.type}} newera-spellprepsheet-body" autocomplete="off">
    <h3 class="table-header">Focus Energy</h3>
    <div id="focus-energy-wrapper" class="progress-wrapper focus-energy">
        <progress id="focus-energy-bar" value="{{focusEnergy.percentage}}" max="1">FOCUS ENERGY</progress>
        <h3 id="focus-energy-status" style="display: inline" class="table-header">{{focusEnergy.value}} / {{focusEnergy.max}}</h3>
    </div>
    <button class="sheet-input" id="resetFocus">Clear Stored Spells</button>
    
    <h3 class="table-header">Stored Spells</h3>
    <table class="newera-actorsheet-table focus-dropzone">
        <tr style="display: none"></tr>
        {{#each spells as |store index|}}
            <tr class="cast-stored" data-store-id="{{index}}">
                <td style="width: 20%"><img class="skill-icon" src="{{store.spell.img}}" />
                    <span id="spell-level" class="{{#if store.spell.amplified}}ampText-hot{{/if}}">
                      {{store.castLevel}}
                    </span>
                </td>
                <td style="width: 40%" class="spell-cast">
                    {{store.spell.name}} {{romanNumeral store.ampFactor false}}
                </td>
                <td style="width: 40%; text-align: left">
                    <div class="spell-action-icons" data-spell="{{store.id}}"></div>
                </td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="3">
                <i>
                    Drag spells from your character sheet to cast them and store them in your focus. Click on a stored spell to release it.
                </i>
            </td>
        </tr>
    </table>
</form>