<div class="phoneui-app-header">
    <a class="phoneui-close-button app-close"><i class="fa-solid fa-circle-left"></i></a>
    <h3>Messages</h3>
    <a class="phoneui-right-header-button" id="compose"><i class="fa-solid fa-pen-to-square"></i></a>
</div>
<div class="phoneui-app-body-full">
    <table class="phoneui-grid">
        {{#each contacts as |contact index|}}
            <tr class="open-convo" data-contact-id="{{index}}">
                <td>
                    <img class="resource-icon" src="systems/newera-sol366/resources/phone-ui/app-messages.png" />
                </td>
                <td>
                    <h2>{{contact.name}}</h2>
                    {{#if contact.lastMessage}}
                        <p>{{#if contact.unread}}<i class="fa-solid fa-circle unread"></i> {{/if}}{{#if contact.lastMessage.sent}}You: {{/if}}{{truncate contact.lastMessage.content 25}}</p>
                    {{/if}}
                </td>
                <td>
                    {{#if contact.lastMessage}}
                        <span class="timestamp">{{contact.lastMessage.timestamp}}</span>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</div>