<div class="phoneui-app-header">
    <a class="phoneui-close-button photo-close" data-app-id="photos"><i class="fa-solid fa-circle-left"></i></a>
    <h3>Photos</h3>
    <a class="phoneui-right-header-button" id="takePhoto"><i class="fa-solid fa-camera"></i></a>
</div>
<div class="phoneui-app-body-full">
    <div class="photo-grid">
        {{#each system.photos as |photo index|}}
            <div class="photo-thumbnail" data-tooltip="{{photo.title}}" data-tooltip-direction="UP" data-photo-id="{{index}}">
                <img src="{{photo.img}}" />
            </div>
        {{/each}}
    </div>
</div>