<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto" />

<form class="{{cssClass}} {{actor.type}} newera-actorsheet-body" autocomplete="off">

  {{!-- Sheet Header --}}
  <div class="newera-actorsheet-top">
    <img class="newera-actorsheet-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
      <div class="newera-actorsheet-top-data">
        {{#if inventory.equipped.phone}}
          <div class="phone-shortcut inventory-entry" data-tooltip="Open Phone" data-tooltip-direction="DOWN" data-item-id="{{system.equipment.phone}}">
            <i class="fa-solid fa-mobile-screen item-edit"></i>
          </div>
        {{/if}}
        <h1 class="charname"><input name="name" type="text" class="sheet-input" value="{{actor.name}}" placeholder="Name"/></h1>
        <div id="cp-wrapper" class="progress-wrapper cp npc-level">
          Level <br />
          <h1 id="overall-level"><input type="text" class="sheet-input big-sheet-input" name="system.level" value="{{system.level}}" data-dtype="Number" /></h1>
        </div>
        <input type="text" name="system.age" value="{{system.age}}" class="sheet-input" style="width: 64px" data-dtype="Number" />
        <span> | </span>
        <select name="system.pronouns.index" id="pronoun-select-{{actor.id}}" class="sheet-input" style="width: 140px">
          <option value="0">He/Him</option>
          <option value="1">He/They</option>
          <option value="2">They/Them</option>
          <option value="3">She/They</option>
          <option value="4">She/Her</option>
          <option value="5">Custom Pronouns</option>
        </select>
      </div>
  </div>

  <div class="newera-actorsheet-tabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item newera-section-header" data-tab="profile">Profile</a>
      <a class="item newera-section-header" data-tab="abilities">Abilities</a>
      <a class="item newera-section-header" data-tab="actions">Actions</a>
      <a class="item newera-section-header" data-tab="inventory">Equipment</a>
      <a class="item newera-section-header" data-tab="magic">Magic</a>
      <a class="item newera-section-header" data-tab="effects">Effects</a>
    </nav>
  </div>

  <div class="newera-actorsheet-scroll">
    <div class="newera-actorsheet-left">

      <div id="actorsheet-resources">
        <div class="resource newera-actorsheet-resource">
          <img class="resource-icon" src="systems/newera-sol366/resources/hp-hot.png" title="Hit Points" id="hp-icon" />
          <div class="resource-content">
            <input type="text" id="resourceValHp" class="resource-input resource-hp" name="system.hitPoints.value" value="{{system.hitPoints.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" id="resourceMaxHp" class="resource-input resource-hp" name="system.hitPoints.max" value="{{system.hitPoints.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource newera-actorsheet-resource">
          <img class="resource-icon" src="systems/newera-sol366/resources/lp.png" title="Life Points" id="lp-icon" />
          <div class="resource-content">
            <input type="text" id="resourceValLp" class="resource-input" name="system.lifePoints.value" value="{{system.lifePoints.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" id="resourceMaxLp" class="resource-input" name="system.lifePoints.max" value="{{system.lifePoints.max}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="newera-actorsheet-bars">
          <div class="resource-bars">
            <div id="health-wrapper" class="progress-wrapper">
              <progress id="health-bar" value="{{system.hpPercentage}}" max="1">HP</progress>
            </div>
            <div id="energy-wrapper" class="progress-wrapper energy">
              <progress id="energy-bar" value="{{system.energy.value}}" max="{{system.energy.max}}">ENERGY</progress>
            </div>
          </div>
          <div class="damage-button">
            <button class="sheet-input" id="takeDamageButton" data-tooltip="Damage/Healing" data-tooltip-direction="RIGHT">
              <img class="action-die" src="systems/newera-sol366/resources/broken-heart.png">
            </button>
          </div>
        </div>
        <div class="resource newera-actorsheet-resource" id="energy-resource">
          <img class="resource-icon" src="systems/newera-sol366/resources/energy-hot.png" title="Energy" id="energy-icon" />
          <div class="resource-content">
            <input type="text" id="resourceValEnergy" class="resource-input resource-energy" name="system.energy.value" value="{{system.energy.value}}" data-dtype="Number"/>
            <span> / </span>
            <input type="text" id="resourceMaxEnergy" class="resource-input resource-energy" name="system.energy.max" value="{{system.energy.max}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Armor</h4>
        <div class="summary-stat-bonus">
          <img class="bonus" src="systems/newera-sol366/resources/bonus.png" />
          <input type="text" class="sheet-input" name="system.armor.bonus" value="{{system.armor.bonus}}" data-dtype="Number" />
          <img class="bonus" src="systems/newera-sol366/resources/armor-equipped.png" />
          <input type="text" class="sheet-input" name="system.armor.equipped" value="{{system.armor.equipped}}" data-dtype="Number" />
        </div>
        <div class="summary-stat-total">
          <h2 id="system.armor.total" style="border-bottom: none"><img src="systems/newera-sol366/resources/armor-equipped.png" class="resource-icon" />{{system.armor.total}}</h2>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Size</h4>
        <div class="summary-stat-wide">
          <input type="text" class="sheet-input" name="system.size.mod" value="{{system.size.mod}}" data-dtype="Number" style="width: 30%"/>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Initiative</h4>
        <div class="summary-stat-bonus">
          <img class="bonus" src="systems/newera-sol366/resources/bonus.png" />
          <input type="text" class="sheet-input" name="system.initiative.bonus" value="{{system.initiative.bonus}}" data-dtype="Number" />
        </div>
        <div class="summary-stat-total">
          <span class="rollable" data-roll="d20+@initiative.mod" data-label="{{actor.name}} rolls for initiative!">
            <h2 class="sheet-output-major">{{numberFormat system.initiative.mod decimals=0 sign=true}}</h2>
            <img class="die" src="systems/newera-sol366/resources/d20-orange.png" />
          </span>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Passive Agility</h4>
        <div class="summary-stat-bonus">
          <img class="bonus" src="systems/newera-sol366/resources/bonus.png" />
          <input type="text" class="sheet-input" name="system.passiveAgility.bonus" value="{{system.passiveAgility.bonus}}" data-dtype="Number" />
        </div>
        <div class="summary-stat-total">
          <h2 class="sheet-output-major">{{system.passiveAgility.value}}</h2>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Speed</h4>
        <div class="summary-stat-bonus">
          <img class="bonus" src="systems/newera-sol366/resources/bonus.png" />
          <input type="text" class="sheet-input" name="system.speed.bonus" value="{{system.speed.bonus}}" data-dtype="Number" />
        </div>
        <div class="summary-stat-total">
          <h2 class="sheet-output-major">{{system.speed.value}}</h2>
        </div>
      </div>
      <div class="summary-stat-wrapper">
        <h4>Passive Perception</h4>
        <div class="summary-stat-bonus">
          <img class="bonus" src="systems/newera-sol366/resources/bonus.png" />
          <input type="text" class="sheet-input" name="system.passivePerception.bonus" value="{{system.passivePerception.bonus}}" data-dtype="Number" />
        </div>
        <div class="summary-stat-total">
          <h2 class="sheet-output-major">{{system.passivePerception.value}}</h2>
        </div>
      </div>
    </div>
  
    <div class="newera-actorsheet-right">
      <section class="sheet-body">
        <div class="tab profile" data-group="primary" data-tab="profile">
          {{> systems/newera-sol366/templates/actor/parts/char-profile.html}}
        </div>
        <div class="tab profile" data-group="primary" data-tab="abilities">
          {{> systems/newera-sol366/templates/actor/parts/npc-abilities.html}}
        </div>
        <div class="tab profile" data-group="primary" data-tab="actions">
          {{> systems/newera-sol366/templates/actor/parts/actions.html}}
        </div>
        <div class="tab profile" data-group="primary" data-tab="inventory">
          {{> systems/newera-sol366/templates/actor/parts/char-inventory.html}}
        </div>
        <div class="tab profile" data-group="primary" data-tab="magic">
          {{> systems/newera-sol366/templates/actor/parts/npc-magic.html}}
        </div>
        <div class="tab profile" data-group="primary" data-tab="effects">
          {{> systems/newera-sol366/templates/actor/parts/effects.html}}
        </div>
      </section>
    </div>
  </div>
</form>
