<div class="newera-itemsheet-properties">
    <div class="newera-itemsheet-property-50">
        <input type="checkbox" name="system.enchanted" {{checked system.enchanted}} data-dtype="Boolean">
        <label for="system.enchanted">Item is enchanted</label>
        <br />
        <input type="checkbox" name="system.arcane" {{checked system.arcane}} data-dtype="Boolean">
        <label for="system.arcane">Item has multiple enchantments (Arcane)</label>
    </div>
    <div class="newera-itemsheet-property-33">
        <h4>Enchantment Suffix</h4>
        <input type="text" name="system.enchantmentDescriptor" value="{{system.enchantmentDescriptor}}" class="sheet-input" data-dtype="String" />
    </div>
    <div class="newera-itemsheet-property-33">
        <h4>Aura Color</h4>
        <input type="color" name="system.enchantmentColor" value="{{system.enchantmentColor}}" class="sheet-input" data-dtype="String" />
    </div>
</div>

{{> systems/newera-sol366/templates/item/parts/item-effects.html}}