<div class="newera-itemsheet-properties">
    <h4>Secret Level</h4>
    <select class="sheet-input auto-value" name="system.secretLevel">
        <option value="0">Show All</option>
        <option value="1">Show Name but Hide Effects</option>
        <option value="2">Hide All but School and Level</option>
        <option value="3">Hide All but Form</option>
        <option value="4">Hide All</option>
    </select>
</div>
<div class="newera-itemsheet-properties">
    <h4>Name Shown to Players</h4>
    <input type="text" class="sheet-input" name="system.secretName" value="{{system.secretName}}" {{disabled system.fixedSecretName}} />
</div>
<div class="newera-itemsheet-properties">
    <input type="checkbox" name="system.hideEnchantments" {{checked system.hideEnchantments}} /> Hide Enchantments
</div>