<input type="text" id="feat-search" placeholder="Search Feats" class="sheet-input feat-filter-criteria" />
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="class" /> Class Feats
    <div class="feat-filter-sub-options" data-filter-category="class">
        {{#each classData.classes as |data index|}}
            <input type="checkbox" class="feat-filter-criteria" data-filter-category="class" data-filter-sub-category="{{data}}" /> {{data}} <br />
        {{/each}}
    </div>
</div>
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="archetype" /> Archetype Feats
    <div class="feat-filter-sub-options" data-filter-category="archetype">
        {{#each classData.archetypeNames as |data index|}}
            <input type="checkbox" class="feat-filter-criteria" data-filter-category="archetype" data-filter-sub-category="{{data}}" /> {{data}} <br />
        {{/each}}
    </div>
</div>
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="general" /> General Feats
</div>
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="skill" /> Skill Feats
    <div class="feat-filter-sub-options" data-filter-category="skill">
        {{#each skillData as |data index|}}
            <input type="checkbox" class="feat-filter-criteria" data-filter-category="skill" data-filter-sub-category="{{data}}" /> {{data}} <br />
        {{/each}}
    </div>
</div>
{{#if characterCreationMode}}
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="career" /> Career Backgrounds
</div>
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="background" /> General Backgrounds
</div>
<div class="feat-filter-option">
    <input type="checkbox" class="feat-filter-criteria" data-filter-category="flaw" /> Flaws
</div>
{{/if}}