<div class="browser-results-container">
    {{#each results as |result index|}}
        <div class="browser-result {{result.styles}}" data-casper-object-id="{{result.system.casperObjectId}}" {{{draggable result.available}}} {{{htmlTooltip result.tooltip "up"}}}>
            <img src="{{result.img}}" />
            <h3 class="newera-section-header">{{result.name}}</h3>
            <span style="display: block">&nbsp; <!--Float weirdness prevention --></span>
            {{{result.system.base.description}}}
            <div class="feat-cost">
                {{#if result.alreadyOwned}}
                    <i class="fa-solid fa-check-circle"></i>
                {{else}}
                    <i class="fa-solid fa-circle-star"></i> {{result.cost}}
                    {{#if result.system.prerequisites}}
                        <p class="feat-prerequisites" {{#if result.doubleCheck}} data-tooltip="You may meet the requirements for this feat, but we can't be certain. Please check with your GM." data-tooltip-direction="UP" {{/if}}>
                            Requires {{result.system.prerequisites}}
                        </p>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/each}}
    {{#if noResultsFound}}
        <h2 class="newera-section-header">Nothing to See Here</h2>
        <p>Hmm... There doesn't seem to be anything that matches your search.</p>
    {{/if}}
</div>